<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUoKk5h-bniOedZSNPuTq2icZvSL010Ys</string>
	<key>GCM_SENDER_ID</key>
	<string>551435714859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcocastope.FirebaseYoutube</string>
	<key>PROJECT_ID</key>
	<string>fir-fa82a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-fa82a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551435714859:ios:2379eed729ab17611c456e</string>
</dict>
</plist>